// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 32px;
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
  grid-area: main;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

// Header
header {
  position: relative;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/Marquee-Sign.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  @media (min-width: 550px) {
    // background-image: url('../img/Marquee-Sign.svg');
  }
}

// Nav
nav {
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 5px solid var(--color-primary-alt);
  background-color: transparent;
  padding: 32px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      text-decoration: none;
    }
  }
}

// Profile
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  border: 5px solid var(--color-primary-alt);
  background-color: transparent;
  padding: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      text-decoration: none;
    }
  }
}

// Links
.link-allStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  border: 5px solid var(--color-primary-alt);
}

aside#styles .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Block Quote
blockquote {
  background-color: var(--color-secondary);
  padding: 32px;
}

//Film roll between sections
article section:nth-child(1)::after {
  content: '';
  width: 100%;
  height: 100px;
  text-align: center;
  background-image: url('../img/filmRoll.svg');
  background-size: cover;
  margin-bottom: 15px;
}

// Marquis on List/ Text Crawl
section.container {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: perspective(300px) rotateX(25deg);
    overflow: hidden;
    position: relative;

    li {
      opacity: 0;
      animation: crawl 10s linear infinite;
    }
  }

  @keyframes crawl {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    10% {
      transform: translateY(-10%);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(-1000%);
      opacity: 0;
    }
  }
}

// Marquis on Links
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 780px) {
    flex-direction: row;
  }
}

.features li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 200px;
  background-image: url('../img/Lightbox-Medium.svg');
  background-repeat: no-repeat;
  // background-position: center;
  background-size: 100% 100%;

  span {
    display: block;
  }
}
