
@mixin marquee() {
  background-image: 
  linear-gradient(
    to right,    rgb(0 0 0 / 0%), 
    transparent, rgb(0 0 0 / 0%)
  ),
  linear-gradient(
    to right, transparent,
    transparent 12.5%, black 12.5%, transparent 12.7%,
    transparent 25.0%, black 25.0%, transparent 25.2%, 
    transparent 37.5%, black 37.5%, transparent 37.7%,
    transparent 50.0%, black 50.0%, transparent 50.2%,
    transparent 62.5%, black 62.5%, transparent 62.7%,
    transparent 75.0%, black 75.0%, transparent 75.2%,
    transparent 87.5%, black 87.5%, transparent 87.7%
  ),
  linear-gradient(
    to bottom, white, 
    white 25%, black 25%, white 25.5%, 
    white 75%, black 75%, white 75.5%
  );
  border: 50px solid red;
  border-image-source: url('../img/3x3 really small2.svg');
  border-image-slice: 33% 33%;
  border-image-repeat: round;
  animation: light 5s linear infinite;
  color: black;
}

// stylelint-disable no-descending-specificity
body {
  background-color: darkred;
  color: white;
  font-family: var(--font-family);
  display: flex;
  background-image: url('../img/background-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 32px;

  @media (min-width: 1040px) {
    background-image: url('../img/longer.svg');
    background-position: center;
    background-size: contain;
  }
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
  grid-area: main;

  &:focus {
    outline: none;
  }

  h3 {
    color: var(--color-primary);
  }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

article,
.page-footer,
#styles {
  .container {
    width: 100%;
    max-width: 80ch;
    margin-right: auto;
    margin-left: auto;
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

// Header
header {
  position: relative;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  @include marquee();

  & h1 {
    text-transform: uppercase;
    // font-family: 'Barlow Condensed', sans-serif;
  }

  & h2 {
    background-image: none;
  }

  @media (min-width: 550px) {
    border: 100px solid red;
    border-image-source: url('../img/3x3 really small2.svg');
    border-image-slice: 33% 33%;
    border-image-repeat: round;
  }

  @keyframes light {
    0% {
      border-image-source: url('../img/3x3 really small2.svg');
    }
    15% {
      border-image-source: url('../img/3x3 lights.svg');
    }
    30% {
      border-image-source: url('../img/3x3 really small2.svg');
    }
    45% {
      border-image-source: url('../img/3x3 lights.svg');
    }
    60% {
      border-image-source: url('../img/3x3 really small2.svg');
    }
    75% {
      border-image-source: url('../img/3x3 lights.svg');
    }
    90% {
      border-image-source: url('../img/3x3 really small2.svg');
    }
    100% {
      border-image-source: url('../img/3x3 lights.svg');
    }
  }
}

// Nav
nav {
  width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 5px solid var(--color-primary-alt);
  background-color: transparent;
  padding: 32px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      text-decoration: none;
    }
  }
}

// Profile
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  border: 5px solid var(--color-primary-alt);
  background-color: transparent;
  padding: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      text-decoration: none;
    }
  }
}

// Links
.link-allStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  border: 5px solid var(--color-primary-alt);
}

aside#styles .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Block Quote
blockquote {
  background-color: var(--color-secondary);
  padding: 32px;
}

//Film roll between sections
article section:nth-child(1)::after {
  content: '';
  width: 100%;
  height: 100px;
  text-align: center;
  background-image: url('../img/filmRoll.svg');
  background-size: cover;
  margin-bottom: 15px;
}

// Marquis on List/ Text Crawl
section.container {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: perspective(300px) rotateX(25deg);
    overflow: hidden;
    position: relative;

    li {
      opacity: 0;
      animation: crawl 10s linear infinite;
    }
  }

  @keyframes crawl {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    10% {
      transform: translateY(-10%);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(-1000%);
      opacity: 0;
    }
  }
}

// Marquis on Links
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 780px) {
    flex-direction: row;
  }
}

.features li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 200px;
  @include marquee();
  // background-image: url('../img/Lightbox-Medium.svg');
  // background-repeat: no-repeat;
  // // background-position: center;
  // background-size: 100% 100%;

  span {
    display: block;
  }
}
